# Cloudflare & Wrangler
.wrangler/
.dev.vars
wrangler.toml

# Node modules
node_modules/
package-lock.json

# Logs
npm-debug.log

# Personal notes
POST_PUBLISHING.md

#zip file
Snip-Ask-Chrome-Extension-v1.0.zip